
<!-- loop through all the names and print them out-->
    <h2>List of Students</h2>
    <ul>
      <% for (let i = 0; i < students.length; i++){%>
        <li><a href="/students/<%=students[i].id%>"><%=students[i].sname %></a></li>
      <%}%>
    </ul>