
<form action="/students" method="POST">

    <label for="sname">Students Name</label>
    <input type="text" name="sname">

    <label for="subject">Subject</label>
    <input type="text" name="subject">

    <button type="submit">submit</button>
  </form>