<!-- loop through all the names -->
<h2>List of Teachers</h2>
    <ul>
      <% for (let i = 0; i < teachers.length; i++){%>
        <li><a href="/teachers/<%=teachers[i].id%>"><%=teachers[i].tname %></a></li>
      <%}%>
    </ul>

    