

<form action="/teachers" method="POST">

    <label for="tname">Teachers Name</label>
    <input type="text" name="tname">

    <label for="class">Class Name</label>
    <input type="text" name="class">

    <button type="submit">submit</button>
  </form>